<div class="main-doctor-view-all-container">
    <div class="form-view-all-doctor-title">
        <div class="form-view-all-doctor-title-container">
            Visualizar todos os Doutores(a)
        </div>
    </div>
    <div class="search-container">
        <input type="text" pInputText [(ngModel)]="searchValue" (ngModelChange)="onSearch($event)"
            placeholder="Pesquisar pacientes..." />
    </div>
    <div class="doctor-container">
        <cdk-virtual-scroll-viewport itemSize="50" style="height: 100%;">
            <div class="no-doctors-container" *ngIf="(filteredDoctors$ | async)?.length === 0; else hasDoctors">
                <div class="no-doctors-text"> Nenhum doutor(a) encontrado!</div>
                <div class="no-doctors"></div>
            </div>
            <ng-template #hasDoctors>
                <p-table class="table" p-table *ngIf="filteredDoctors$ | async as doctors" [value]="doctors"
                    [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Especialidade</th>
                            <th>CPF</th>
                            <th>Data de nascimento</th>
                            <th>Telefone</th>
                            <th>Ações</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-doctor>
                        <tr>
                            <td>{{ doctor.id }}</td>
                            <td>{{ doctor.name }}</td>
                            <td>{{ doctor.speciality }}</td>
                            <td>{{ doctor.cpf }}</td>
                            <td>{{ doctor.birthdate | date }}</td>
                            <td>{{ doctor.phone }}</td>
                            <td>
                                <i class="pi pi-pen-to-square icons-pi"></i>
                                <i class="pi pi-trash icons-pi" (click)="showDialog(doctor.id)"></i>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </cdk-virtual-scroll-viewport>

    </div>
</div>

<p-dialog header="Excluir paciente" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <div style="margin-top: 10px; margin-bottom: 30px;">
        <div style="font-weight: 700;">Esta ação é irreversível.</div>
        <div>Tem certeza que deseja excluir este paciente?</div>
    </div>

    <div style="display: flex; gap: 10px;">
        <p-button label="Confirmar" severity="danger" (click)="visible = false; deleteDoctor()" />
        <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
    </div>
</p-dialog>

<div class="card flex justify-content-center">
    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
</div>