<div class="main-doctor-container">

    <div class="form-create-doctor-title">
        <div class="form-create-doctor-title-container">
            cadastro de consulta
        </div>
    </div>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="auth-form-container">
        <div class="form-doctor-container-input">

            <div style="width: 100%; height: 55px;">
                <p-dropdown
                  [style]="{'width':'100%', 'height': '100%', 'display': 'flex', 'align-items': 'center'}"
                  (onFilter)="onFilter($event)"
                  class="full-width"
                  [options]="patients"
                  formControlName="patientid"
                  optionLabel="name"
                  optionValue="id"
                  [filter]="true"
                  filterBy="name"
                  [showClear]="true"
                  placeholder="Paciente:"
                  [emptyMessage]="'Nenhum paciente encontrado'"
                >
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                      <div>{{ selectedOption.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>


            <div style="width: 100%; height: 55px;">
                <p-dropdown (onChange)="loadDoctors()"
                    [style]="{'width':'100%','height': '100%', 'display': 'flex', 'align-items': 'center'}"
                    class="full-width" [options]="specialitys" formControlName="speciality" optionLabel="speciality"
                    optionValue="speciality" [filter]="true" filterBy="name" [showClear]="true"
                    placeholder="Especialidade:">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <div>{{ selectedOption.speciality }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div style="width: 100%; height: 55px;">
                <p-dropdown [style]="{'width':'100%','height': '100%', 'display': 'flex', 'align-items': 'center'}"
                    class="full-width" [options]="doctors" formControlName="doctorid" optionLabel="name"
                    optionValue="doctor_id" [filter]="true" filterBy="name" [showClear]="true" placeholder="Doutor(a):"
                    (onChange)="getHours()">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <div>{{ selectedOption.name }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div *ngIf="hour_date.length > 0" class="container-dates-hour">
                <div class="title-dates-hour" style="color: #fff; font-weight: 600;">Consultas</div>
                <div class="list-dates-hour">
                    <div *ngFor="let item of hour_date" style="margin-bottom: 5px;" class="item-dates-hour">
                        <div><strong>Data:</strong> {{ item.date }}</div>
                        <div><strong>Hora:</strong> {{ item.hour }}</div>
                    </div>
                </div>
            </div>

            <div style=" width: 100%;  display: flex; justify-content: space-between;">
                <div style="width: 49%; height: 55px;">
                    <p-inputMask formControlName="appointmentdate" mask="99/99/9999" placeholder="Data:"
                        slotChar="dd/mm/yyyy"
                        [style]="{'width':'100%','height': '100%', 'display': 'flex', 'align-items': 'center'}" />
                </div>
                <div style="width: 49%; height: 55px;">
                    <p-inputMask formControlName="hour" mask="99:99" placeholder="Horário:" slotChar="hh:mm"
                        [style]="{'width':'100%','height': '100%', 'display': 'flex', 'align-items': 'center'}" />
                </div>
            </div>

            <div style="width: 100%;">
                <textarea rows="10" cols="30" pInputTextarea formControlName="description"
                    [style]="{'width':'100%','height': '100%', 'display': 'flex', 'align-items': 'center'}"></textarea>
            </div>
        </div>
        <div class="form-doctor-container-button">
            <button type="submit" class="default-button" style="background-color: #3F51B5;"
                [disabled]="authForm.invalid || isLoading">
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="isLoading"></i>
                <i class="pi pi-send" style="font-size: 1.3rem" *ngIf="!isLoading"></i>
                <div *ngIf="!isLoading">Enviar</div>
            </button>
            <button class="default-button" type="reset" (click)="clearForm()" style="background-color: #3f51b5;">
                <i class="pi pi-times" style="font-size: 1.3rem"></i>
                <div>Cancelar</div>
            </button>
        </div>
    </form>
</div>

<div class="card flex justify-content-center">
    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
</div>