@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.auth-main-form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #84a9b336;

    .auth-container-form-container {
        display: flex;
        width: 1100px;
        height: 75vh;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.274);

        .image-container {
            width: 50%;
            height: 100%;
            background-position: center center;
            background-size: 80% 70%;
            background-repeat: no-repeat;
            background-image: url('../../assets/images/undraw_medicine.png');
            background-color: #84a9b3;
        }

        .auth-form-container {
            width: 50%;
            display: flex;
            height: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: #ffffff;

            .auth-title {
                letter-spacing: -.7px;
                font-size: 1.6rem;
                color: rgba(0, 0, 0, 0.74);
                font-weight: 900;
                font-family: "Playwrite AR", cursive;
            }

            .auth-inputs-container {
                display: flex;
                width: 80%;
                height: 60%;
                align-items: center;
                flex-direction: column;
                border-radius: 5px;
                justify-content: center;
                gap: 20px;

                .auth-second-title {
                    display: flex;
                    gap: 4px;
                    color: rgba(0, 0, 0, 0.466);
                    font-size: 1.2rem;
                    letter-spacing: -1px;
                    font-weight: 500;

                    div {
                        font-weight: 700;
                        color: #FF007B;
                    }
                }


                .auth-input-full-width {
                    border-radius: 5px;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    width: 80%;
                    border-radius: 2px;
                    padding: .8rem 1rem;
                    box-sizing: border-box;
                    border: solid 1px #0000003f;

                    input {
                        flex-grow: 1;
                        color: #868686;
                        font-size: 1.2rem;
                        line-height: 2.4rem;
                        vertical-align: middle;
                        border-style: none;
                        background: transparent;
                        outline: none;
                        position: relative;
                    }

                    .label {
                        color: #c2c2c26e;
                        width: 70px;
                        text-align: center;
                        left: 10px;
                        top: 20px;
                        font-size: .9rem;
                        pointer-events: none;
                        position: absolute;
                        transition: .1s ease-in-out;
                    }

                    .active {
                        position: absolute;
                        top: -17px;
                        color: #161616b9;
                        background-color: #ffffff;
                    }
                }

                .auth-btn-login {
                    width: 60%;
                    display: flex;
                    color: #ffffff;
                    align-items: center;
                    border-radius: 100px;
                    justify-content: center;
                    background-color: #84a9b3;
                }
            }


        }
    }
}

