<div class="auth-main-form-container">
    <div class="auth-container-form-container">
        <div class="image-container"></div>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="auth-form-container">
            <div class="auth-title">Bem-vindo!</div>
            <div class="auth-inputs-container">
                <div class="auth-second-title">
                    Conecte-se com o <div>Consultify</div>
                </div>

                <div style="width: 80%; height: 100px;">
                    <div class="auth-input-full-width">
                        <input formControlName="email" type="email" class="form-control"
                            [ngClass]="{ 'is-invalid': authForm.get('email')?.invalid && (authForm.get('email')?.touched || authForm.get('email')?.dirty) }" />
                        <div class="label" id="email">E-mail</div>
                    </div>
                    <div *ngIf="authForm.get('email')?.invalid && (authForm.get('email')?.touched || authForm.get('email')?.dirty)"
                        class="invalid-feedback">
                        <div class="error-container" *ngIf="authForm.get('email')?.errors?.['required']">Email é
                            obrigatório.</div>
                        <div class="error-container" *ngIf="authForm.get('email')?.errors?.['email']">Por favor, insira
                            um email válido.</div>
                    </div>
                </div>

                <div style="width: 80%; height: 100px;">
                    <div class="auth-input-full-width">
                        <input formControlName="password" type="password" class="form-control"
                            [ngClass]="{ 'is-invalid': authForm.get('password')?.invalid && (authForm.get('password')?.touched || authForm.get('password')?.dirty) }" />
                        <div class="label" id="password">Senha</div>
                    </div>
                    <div *ngIf="authForm.get('password')?.invalid && (authForm.get('password')?.touched || authForm.get('password')?.dirty)"
                        class="invalid-feedback">
                        <div class="error-container" *ngIf="authForm.get('password')?.errors?.['required']">Senha é
                            obrigatória.</div>
                        <div class="error-container" *ngIf="authForm.get('password')?.errors?.['minlength']">A senha
                            deve ter pelo menos 6
                            caracteres.</div>
                    </div>
                </div>

                <div style="color: rgba(0, 0, 0, 0.473); cursor: pointer;">Esqueceu sua senha?</div>

                <button type="submit" class="auth-btn-login" [disabled]="authForm.invalid || isLoading" mat-fab
                    extended>
                    <mat-icon *ngIf="!isLoading">login</mat-icon>
                    <i class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="isLoading"></i>
                    <div *ngIf="!isLoading">Entrar</div>
                </button>
            </div>
        </form>
    </div>
</div>