<div class="container">
  <header class="header">
    <h1>Consultify</h1>
    <mat-icon>menu</mat-icon>
  </header>
  <div class="main-content">
    <nav class="sidebar">
      <div class="profile-container">
        <mat-icon>account_circle</mat-icon>
        <div class="name">Warllei Martins</div>
        <div class="email">warllei.s.martins&#64;hotmail.com</div>
        <div class="user-active">usuário ativo</div>
      </div>
      <div class="list-links-container">
        <cdk-virtual-scroll-viewport itemSize="50" style="height: 100%;">
          <mat-accordion>
            <mat-expansion-panel style="margin-top: 20px;" class="custom-list"
           >
              <mat-expansion-panel-header>
                <mat-panel-description class="title-container">
                  Doutores(a)
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li>
                  <a [routerLink]="['/home/doctor']" [ngClass]="{'active': link === '/home/doctor'}"
                    (click)="setLink('/home/doctor')">
                    Cadastro de doutor(a)
                    <mat-icon style="display: flex; align-items: center; justify-content: center; font-size: 1rem; color: #84a9b3;"
                      *ngIf="link === '/home/doctor'">radio_button_checked</mat-icon>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/home/view/all/doctors']" [ngClass]="{'active': link === '/home/view/all/doctors'}"
                    (click)="setLink('/home/view/all/doctors')">
                    Visualizar doutores(a)
                    <mat-icon style="display: flex; align-items: center; justify-content: center; font-size: 1rem; color: #84a9b3;"
                      *ngIf="link === '/home/view/all/doctors'">radio_button_checked</mat-icon>
                  </a>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel class="custom-list" 
             >
              <mat-expansion-panel-header>
                <mat-panel-description class="title-container">
                  Pacientes
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li>
                  <a [routerLink]="['/home/patient']" [ngClass]="{'active': link === '/home/patient'}"
                    (click)="setLink('/home/patient')">
                    Cadastro de paciente
                    <mat-icon style="display: flex; align-items: center; justify-content: center; font-size: 1rem; color: #84a9b3;"
                      *ngIf="link === '/home/patient'">radio_button_checked</mat-icon>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/home/view/all/patients']" [ngClass]="{'active': link === '/home/view/all/patients'}"
                    (click)="setLink('/home/view/all/patients')">
                    Visualizar pacientes
                    <mat-icon style="display: flex; align-items: center; justify-content: center; font-size: 1rem; color: #84a9b3;"
                      *ngIf="link === '/home/view/all/patients'">radio_button_checked</mat-icon>
                  </a>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel class="custom-list" 
             >
              <mat-expansion-panel-header>
                <mat-panel-description class="title-container">
                  Consultas
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li>
                  <a [routerLink]="['/home/appointment']" [ngClass]="{'active': link === '/home/appointment'}"
                    (click)="setLink('/home/appointment')">
                    Cadastro de consulta
                    <mat-icon style="display: flex; align-items: center; justify-content: center; font-size: 1rem; color: #84a9b3;"
                      *ngIf="link === '/home/appointment'">radio_button_checked</mat-icon>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/home/view/appointments']" [ngClass]="{'active': link === '/home/view/appointments'}"
                    (click)="setLink('/home/view/appointments')">
                    Visualizar consultas
                    <mat-icon style="display: flex; align-items: center; justify-content: center; font-size: 1rem; color: #84a9b3;"
                      *ngIf="link === '/home/view/appointments'">radio_button_checked</mat-icon>
                  </a>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </cdk-virtual-scroll-viewport>
      </div>
      <div class="logout">
        <mat-icon>account_circle</mat-icon>
        <mat-icon (click)="logout()">logout</mat-icon>
      </div>
    </nav>
    <div class="content">
      <div class="content-route">
        <router-outlet></router-outlet>
      </div>
      <div class="footer">copyright &copy; 2024</div>
    </div>
  </div>
</div>