.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #f1f1f1;
}

.header {
  height: 6%;
  color: #fff;
  display: flex;
  padding: 0 30px;
  align-items: center;
  box-sizing: border-box;
  background-color: #019b93;
  justify-content: space-between;

  h1 {
    height: 20px;
    display: flex;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    margin-top: 10px;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
  }

}

.main-content {
  height: 94%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .sidebar {
    display: flex;
    width: 20vw;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #ffffff8e;
    justify-content: space-between;

    .profile-container {
      display: flex;
      padding: 20px;
      height: 20%;
      align-items: center;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      background-image: linear-gradient(120deg,
          hsl(188deg 33% 42%) 0%,
          hsl(181deg 33% 42%) 8%,
          hsl(179deg 33% 42%) 23%,
          hsl(179deg 33% 42%) 95%,
          hsl(181deg 33% 42%) 100%,
          hsl(188deg 33% 42%) 100%);

      .name {
        font-weight: 500;
        height: 18px;
        font-size: .9rem;
        color: #ffffff;
      }

      .email {
        height: 18px;
        font-size: .8rem;
        color: #ffffffe3;
        letter-spacing: -.3px;
      }

      .user-active {
        height: 18px;
        font-size: .8rem;
        color: #ffffffc2;
        letter-spacing: -.3px;
      }

      .mat-icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 60px;
        height: 60px;
        color: #fff;
        font-size: 3.5rem;

      }
    }

    .list-links-container {
      height: 75%;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;

      .cdk-virtual-scroll-viewport::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
      }

      .cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
      }

      .cdk-virtual-scroll-viewport::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }
    }

    ::ng-deep .mat-expansion-indicator svg {
      fill: #48868f;
      border-radius: 100px;
      background-color: #014b5817;
    }


    .custom-list {
      width: 98%;
      margin: 0 auto;
      box-shadow: none;
      margin-bottom: 15px;
      transition: .2s ease-in-out;
      background-color: transparent;
      border: solid 1px transparent;

      .title-container {
        color: #48868f;
        font-size: 1.2rem;
      }
    }

    .custom-list:hover {
      background-color: #fff;
      border: solid 1px rgba(0, 110, 106, 0.233);

    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      box-sizing: border-box;
      transition: .5s ease-in-out;
    }

    a {
      display: flex;
      width: 100%;
      font-size: 1rem;
      margin-left: 5px;
      font-weight: 500;
      color: #001f27ad;
      align-items: center;
      text-decoration: none;
      transition: .2s ease-in-out;
      justify-content: space-between;
    }

    a:hover {
      color: #004556;
      transform: translateX(10px);
    }

    .active {
      color: #004556;
    }

    .logout {
      display: flex;
      box-sizing: border-box;
      padding: 30px;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 7%;
      z-index: 999;
      background-image: linear-gradient(120deg,
      hsl(188deg 33% 42%) 0%,
      hsl(181deg 33% 42%) 8%,
      hsl(179deg 33% 42%) 23%,
      hsl(179deg 33% 42%) 95%,
      hsl(181deg 33% 42%) 100%,
      hsl(188deg 33% 42%) 100%);

      div {
        letter-spacing: 2px;
        font-weight: 800;
        color: #fff;
        font-family: "Playwrite AR", cursive;
      }

      mat-icon {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        font-size: 2rem;
        color: #fff;
      }
    }
  }

  .content {
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;

    .content-route {
      width: 100%;
      height: 90%;
      padding: 0 30px;
      box-sizing: border-box;
    }

    .footer {
      height: 7%;
      width: 100%;
      display: flex;
      color: #00000021;
      font-size: 1.5rem;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.055);
    }
  }
}