<div class="main-content">

  <div class="sidebar-content-container">
    <nav class="sidebar">
      <div class="profile-container">
        <div class="profile-icon-container">
          <i class="pi pi-user icons-pi"></i>
          <div class="online"></div>
        </div>
        <div class="profile-list-itens">
          <div class="name">
            Warllei Martins
          </div>
          <div class="email">warllei.s.martins&#64;hotmail.com</div>
        </div>
      </div>
      <div class="list-links-container">
        <cdk-virtual-scroll-viewport itemSize="50" style="height: 100%;">
          <mat-accordion>
            <mat-expansion-panel class="custom-list">
              <mat-expansion-panel-header>
                <mat-panel-description class="title-container">
                  <i class="pi pi-home icons-pi" style="font-size: 1.6rem;"></i>
                  <div style="font-weight: 500;">Início</div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li [ngClass]="{'active': link === '/home/dashboard'}">
                  <a [routerLink]="['/home/dashboard']" (click)="setLink('/home/dashboard')">
                    <i class="pi pi-chart-bar icons-pi" style="font-size: 1rem;"></i>
                    <div style="font-weight: 500;">
                      Dashboard
                    </div>
                  </a>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel class="custom-list">
              <mat-expansion-panel-header>
                <mat-panel-description class="title-container">
                  <i class="pi pi-users icons-pi" style="font-size: 1.6rem;"></i>
                  <div style="font-weight: 500;">Doutores (a)</div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li [ngClass]="{'active': link === '/home/doctor'}">
                  <a [routerLink]="['/home/doctor']" (click)="setLink('/home/doctor')">
                    <i class="pi pi-user-plus icons-pi" style="font-size: 1rem;"></i>
                    <div style="font-weight: 500;">
                      Cadastro de doutores (a)
                    </div>
                  </a>
                </li>
                <li [ngClass]="{'active': link === '/home/view/all/doctors'}">
                  <a [routerLink]="['/home/view/all/doctors']" (click)="setLink('/home/view/all/doctors')">
                    <i class="pi pi-list icons-pi" style="font-size: 1rem;"></i>
                    <div style="font-weight: 500;">
                      Visualizar doutores (a)
                    </div>
                  </a>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel class="custom-list">
              <mat-expansion-panel-header>
                <mat-panel-description class="title-container">
                  <i class="pi pi-users icons-pi" style="font-size: 1.6rem;"></i>
                  <div style="font-weight: 500;">Pacientes</div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li [ngClass]="{'active': link === '/home/patient'}">
                  <a [routerLink]="['/home/patient']" (click)="setLink('/home/patient')">
                    <i class="pi pi-user-plus icons-pi" style="font-size: 1rem;"></i>
                    <div style="font-weight: 500;">
                      Cadastro de paciente
                    </div>
                  </a>
                </li>
                <li [ngClass]="{'active': link === '/home/view/all/patients'}">
                  <a [routerLink]="['/home/view/all/patients']" (click)="setLink('/home/view/all/patients')">
                    <i class="pi pi-list icons-pi" style="font-size: 1rem;"></i>
                    <div style="font-weight: 500;">
                      Visualizar pacientes
                    </div>
                  </a>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel class="custom-list">
              <mat-expansion-panel-header>
                <mat-panel-description class="title-container">
                  <i class="pi pi-calendar-plus icons-pi" style="font-size: 1.6rem;"></i>
                  <div style="font-weight: 500;">Consultas</div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li [ngClass]="{'active': link === '/home/appointment'}">
                  <a [routerLink]="['/home/appointment']" (click)="setLink('/home/appointment')">
                    <i class="pi pi-calendar-clock icons-pi" style="font-size: 1rem;"></i>
                    <div style="font-weight: 500;">
                      Cadastro de consultas
                    </div>
                  </a>
                </li>
                <li [ngClass]="{'active': link === '/home/view/all/appointment'}">
                  <a [routerLink]="['/home/view/all/appointment']" (click)="setLink('/home/view/all/appointment')">
                    <i class="pi pi-list icons-pi" style="font-size: 1rem;"></i>
                    <div style="font-weight: 500;">
                      Visualizar consultas
                    </div>
                  </a>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </cdk-virtual-scroll-viewport>
      </div>
      <div class="logout">
        <div class="profile-icons-sistem">
          <i class="pi pi-user icons-pi"></i>
          <div style="font-size: 1rem; font-weight: 500;">Perfil</div>
        </div>
        <div class="profile-icons-sistem" (click)="logout()">
          <i class="pi pi-sign-out icons-pi"></i>
          <div style="font-size: 1rem; font-weight: 500;">Logout</div>
        </div>
        <div class="line"></div>
        <div class="profile-icons-sistem" style="gap: 0; justify-content: space-between;">
          <i class="pi pi-moon icons-pi" style="font-size: 1.5rem;"></i>
          <div>Modo Escuro</div>
          <div class="smaller-switch">
            <p-inputSwitch [(ngModel)]="checked" />
          </div>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="content-route">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


  <div class="footer">copyright &copy; 2024</div>

</div>