.main-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #E8EAF6;
  justify-content: space-around;

  @media(max-width: 1354px) {
    width: 100vw;
  }


  .sidebar-content-container {
    display: flex;
    width: 100%;
    height: 93%;
    position: relative;
    align-items: flex-end;

    @media(max-width: 1354px) {
      height: 100%;
      align-items: center;
      justify-content: space-between;
    }


    .sidebar {
      width: 15%;
      height: 98%;
      display: flex;
      margin: 0 30px;
      border-radius: 5px;
      position: relative;
      flex-direction: column;
      background-color: #ffffff;
      transition: .2s ease-in-out;
      justify-content: space-between;

      @media(max-width: 1354px) {
        margin: 0;
        width: 24%;
        height: 100%;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.082);
      }

      .menu {
        width: 35px;
        height: 35px;
        display: none;
        color: #ffffff;

        i {
          font-size: 1.2rem;
        }

        @media(max-width: 1354px) {
          display: flex;
          align-items: center;
          border-radius: 5px;
          justify-content: center;
          background-color: #3f51b521;
        }
      }

      .profile-container {
        gap: 10px;
        width: 95%;
        height: 10%;
        display: flex;
        align-items: center;
        margin: 8px auto 0 auto;
        box-sizing: border-box;
        justify-content: center;
        border-bottom: 2px solid #F6F7FB;

        @media(max-width: 1354px) {
          gap: 30px;
          justify-content: center;
        }

        .profile-icon-container {
          width: 45px;
          height: 45px;
          color: #fff;
          display: flex;
          border-radius: 100px;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          position: relative;
          background-color: #3f51b521;

          @media(max-width: 1354px) {
            width: 40px;
            height: 40px;
          }

          .online {
            border: 2px #fff solid;
            width: 13px;
            height: 13px;
            border-radius: 100px;
            position: absolute;
            bottom: 3px;
            right: -2px;
            background-color: rgb(102, 255, 0);
          }

          i {
            font-size: 1.3rem;
          }

        }

        .profile-list-itens {
          .name {
            display: flex;
            gap: 2px;
            font-size: .9rem;
            font-weight: 500;
            color: #4150a8;
            letter-spacing: -.3px;
            text-transform: uppercase;

            @media(max-width: 1562px) {
              font-size: .7rem;
            }

          }

          .email {
            font-size: .8rem;
            font-weight: 400;
            color: #3F51B573;
            letter-spacing: -.3px;

            @media(max-width: 1562px) {
              font-size: .6rem;
            }

          }

        }

      }

      .list-links-container {
        height: 70%;
        display: flex;
        padding-top: 40px;
        box-sizing: border-box;
        flex-direction: column;
      }

      ::ng-deep .mat-expansion-indicator svg {
        fill: #3F51B5ad;
        border-radius: 100px;
      }

      .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header {
        transition: .5s ease-in-out;
      }

      .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
        background: #3F51B5ad;
        border-radius: 100px;
      }

      .custom-list {
        width: 100%;
        margin: 0 auto;
        box-shadow: none;
        background-color: transparent;
        transition: .2s ease-in-out;
        border: solid 1px transparent;

        .title-container {
          gap: 13px;
          display: flex;
          color: #3949AB;
          font-size: .9rem;
          align-items: center;

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #1e2d81;

            @media(max-width: 1354px) {
              width: 50px;
              height: 50px;
              justify-content: center;
              align-items: center;
            }
          }

        }
      }

      ul {
        display: none;
        gap: 10px;
        display: flex;
        padding: 10px 0;
        list-style: none;
        position: relative;
        box-sizing: border-box;
        flex-direction: column;

        li {
          width: 100%;
          border-radius: 3px;
          transition: .2s ease-in-out;

          a {
            gap: 10px;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            font-size: .9rem;
            color: #3949AB;
            align-items: center;
            letter-spacing: -.5px;
            text-decoration: none;
            justify-content: center;
            transition: .2s ease-in-out;
          }
        }

        .active {
          background-color: #495dd1;

          a {
            color: #ffffff;
          }
        }

        li:hover {
          background-color: #495dd1;

          a {
            color: #ffffff;
          }

        }
      }


      .logout {
        gap: 5px;
        width: 90%;
        height: 20%;
        z-index: 999;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
        background-color: #fff;

        @media(max-width: 1132px) {
         
          padding: 0 0 10px 0;
        }

        .line {
          height: 2px;
          width: 100%;
          border-radius: 100px;
          background-color: #F6F7FB;
        }

        .profile-icons-sistem {
          gap: 10px;
          width: 100%;
          height: 33%;
          display: flex;
          font-size: 0.9rem;
          font-weight: 600;
          cursor: pointer;
          color: #3949AB;
          align-items: center;
          box-sizing: border-box;

          i {
            cursor: pointer;
            color: #1e2d81;
            font-size: 1.1rem;
          }
        }
      }
    }

    .content {
      width: 80%;
      height: 98%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      @media(max-width: 1354px) {
        height: 100%;
        width: 75%;
      }

      .content-route {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
    }
  }

  .footer {
    height: 7%;
    width: 100%;
    display: flex;
    color: #00000021;
    border-radius: 5px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;

    @media(max-width: 1354px) {
      display: none;
    }
  }
}

.active-menu {
  width: 10% !important;

  .profile-icons-sistem {
    align-items: center;
    width: 100%;
    justify-content: center !important;
    background-color: #3949ab;
    border-radius: 5px;

    i {
      color: #fff !important;
    }

    .dark-mode {
      display: none;
    }
  }

  .profile-logout-fields {
    display: none;
  }
}

.active-content {
  width: 88% !important;
}

.hidden-itens {
  display: none !important;
}