<div class="main-doctor-container">

    <div class="form-create-doctor-title">
        <div class="form-create-doctor-title-container">
            {{ userType === 'doctor' ? 'Cadastrar doutor(a)' : 'Cadastrar paciente' }}
        </div>
    </div>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="auth-form-container">
        <div class="form-doctor-container-input">
            <div style="width: 100%; height: 55px;">
                <input class="custom-input" formControlName="name" type="text" pInputText placeholder="Nome Completo:"
                    [style]="{'width':'100%','height': '100%','display': 'flex', 'align-items': 'center'}" />
            </div>
            <div style="width: 100%; height: 55px;">
                <p-inputMask class="custom-input" formControlName="cpf" mask="999.999.999-99" placeholder="CPF:"
                    [style]="{'width':'100%','height': '100%','display': 'flex', 'align-items': 'center'}" />
            </div>
            <div style="width: 100%; height: 55px;">
                <p-dropdown class="custom-input"
                    [style]="{'width': '100%','height': '100%', 'display': 'flex', 'align-items': 'center' }"
                     formControlName="gender" [options]="[
                              { label: 'Masculino', value: 'masculino' },
                              { label: 'Feminino', value: 'feminino' },
                              { label: 'Outro', value: 'outro' }
                            ]" optionLabel="label" optionValue="value" [filter]="true" filterBy="label"
                    [showClear]="true" placeholder="Gênero:">
                </p-dropdown>
            </div>
            <div style="width: 100%; height: 55px;">
                <p-inputMask class="custom-input" formControlName="birthdate" mask="99-99-9999"
                    placeholder="Data de nascimento:" slotChar="dd/mm/aaaa"
                    [style]="{'width':'100%','height': '100%','display': 'flex', 'align-items': 'center'}" />
            </div>
            <div style="width: 100%; height: 55px;" *ngIf="userType == 'doctor'">
                <input class="custom-input" formControlName="speciality" type="text" pInputText
                    placeholder="Especialidade:"
                    [style]="{'width':'100%','height': '100%','display': 'flex', 'align-items': 'center'}" />
            </div>
            <div style="width: 100%; height: 55px;">
                <p-inputMask class="custom-input" formControlName="phone" mask="(99) 99999-9999" placeholder="Telefone:"
                    [style]="{'width':'100%','height': '100%','display': 'flex', 'align-items': 'center'}" />
            </div>
        </div>
        <button type="submit" class="default-button" mat-fab extended [disabled]="authForm.invalid || isLoading">
            <p-progressSpinner *ngIf="isLoading" [style]="{ 'width': '30px', 'height': '30px'}"
                styleClass="w-4rem h-4rem" strokeWidth="5" animationDuration="2s"
                ariaLabel="loading"></p-progressSpinner>
            <mat-icon *ngIf="!isLoading">send</mat-icon>
            <div *ngIf="!isLoading">Enviar</div>
        </button>
    </form>
</div>

<div class="card flex justify-content-center">
    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
</div>