@use '@angular/material' as mat;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@include mat.core();

$medical-fullstack-service-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));


:root {
  @include mat.all-component-themes($medical-fullstack-service-theme);
}




body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}


.p-inputtext {
  outline: none !important;
  box-shadow: none !important;
  border-color: #3333333f !important;
}

// .p-inputtext:focus {
//   border-color: #00000079 !important;
// }


.p-dropdown:not(.p-disabled) {
  outline: none !important;
  box-shadow: none !important;
  border-color: #cdcdcd !important;
}

.p-dropdown:not(.p-disabled):hover {
  outline: none !important;
  box-shadow: none !important;
  border-color: #3333333f !important;
}




